<nav class="container flex items-center max-w-full mt-16 bg-nav-footer top-0 fixed h-10 uppercase">
  <div class="container max-w-full">
      <ul class="flex items-center justify-center gap-4">
        <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
          <a href="">Design</a>
        </li>
        <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
          <a href="">Inspiration</a>
        </li>
        <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
          <a href="">Sports</a>
        </li>
        <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
          <a href="">Politics</a>
        </li>
      </ul>
    </div>
</nav>
