
<div class="flex flex-col gap-5 p-12 shadow">
  <div *ngIf="cmtCount>0;else noData">
    <h1 class="text-2xl text-primary">Comments ({{cmtCount}}) </h1>
    <div  *ngFor="let cmt of comments">
      <div class="flex flex-col gap-2 py-5 px-8 bg-nav-footer shadow text-base mb-2">
        <h1 class="text-xl"> {{ cmt.data.username }}</h1>
        <p class="text-red-500 text-xs">Last Uploaded : {{ cmt?.data?.createdAt?.toMillis() | date}}</p>
        <p class="text-justify">
          {{ cmt.data.comment }}
        </p>
        <div class="flex justify-end">
          <input class="text-cyan-500" type="button" value="Reply">
          <input class="text-cyan-500 ml-4" type="button" value="View Reply">
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData >
    <span class="text-xl text-primary">No Comment</span>
  </ng-template>

</div>
