<main class="flex flex-col px-20 gap-8">
  <section>
    <img alt="post-img"
         class="object-cover object-top h-120 min-w-full"
         src="{{post?.['postImgPath']}}"/>
  </section>
  <section class="flex gap-6">
    <div class="flex flex-col gap-10 py-4 px-6 max-w-full">
      <div>
        <span class="uppercase mr-5 text-red-500">{{post?.['category']?.['category']}}</span>
        <span class="uppercase mr-5 text-green-500">featured</span>
        <span class="uppercase mr-5 text-cyan-500">views - {{post?.['createdAt'].toMillis()|date}}</span>
      </div>
      <div class="flex flex-col gap-5 text-base">
        <h1 class="text-2xl text-primary">{{post?.['title']}}</h1>
        <p [innerHTML]="post?.['content']" class="text-justify"></p>
      </div>
      <app-comment-form [postId]="this.postId"></app-comment-form>
      <app-comment-list [postId]="this.postId"></app-comment-list>
    </div>

    <div class="flex flex-col gap-5 py-5">

      <div *ngFor="let post of similarPost">
        <app-post-card [postData]="post"></app-post-card>
      </div>
    </div>
  </section>
</main>
