<main class="flex flex-col px-20 gap-8">
  <section>
    <img alt="post-img"
         class="object-cover object-top h-120 min-w-full"
         src="https://img.freepik.com/free-photo/boyfriend-girlfriend-having-fun_23-2148977566.jpg"/>
  </section>
  <section class="flex gap-6">
    <div class="flex flex-col gap-10 py-4 px-6 max-w-full">
      <div>
        <span class="uppercase mr-5 text-red-500">Inspiring</span>
        <span class="uppercase mr-5 text-green-500">featured</span>
        <span class="uppercase mr-5 text-cyan-500">views-1,200,312</span>
      </div>
      <div class="flex flex-col gap-5 text-base">
        <h1 class="text-2xl text-primary">HOW TO START A BLOG IN 2020 EDITED NEW CATEGORY</h1>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
        </p>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.

        </p>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.

        </p>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.

        </p>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <div class="flex flex-col gap-5 py-5">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </section>
</main>
