<footer class="flex flex-col container max-w-full h-32 items-center justify-center gap-4 mt-5">
  <div>
    <a href="#" class="px-2.5 py-1.5 bg-secondary text-primary rounded-3xl ">Blog App</a>
  </div>
  <div>
    <ul class="flex items-center justify-center gap-4">
      <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
        <a href="">Terms & Conditions</a>
      </li>
      <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
        <a href="">About</a>
      </li>
      <li class="hover:text-emerald-900 hover:underline hover:underline-offset-4">
        <a href="">Contact</a>
      </li>
    </ul>
  </div>
  <div>
    <span>Copyright &copy; 2023 Angular Blog App</span>
  </div>
</footer>
