<div class="card">
  <div class="container max-w-full flex flex-col shadow">
    <div class=" w-auto">
      <img class="object-cover object-top h-48 w-96"
           src="https://img.freepik.com/free-photo/boyfriend-girlfriend-having-fun_23-2148977566.jpg"
           alt="post-img"/>
    </div>
    <div class="flex flex-col gap-3  py-4 px-6">
      <div>
        <span class="uppercase mr-5 text-red-800">Inspiring</span>
        <span class="uppercase mr-5 text-green-700">featured</span>
        <span class="uppercase mr-5 text-cyan-700">views-1,200,312</span>
      </div>
      <div>
        <h1>HOW TO START A BLOG IN 2020 EDITED NEW CATEGORY</h1>
        <p class="text-justify">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <div>
        <span class="uppercase mr-5 text-yellow-600">last updated - sep 20,2022</span>
      </div>
    </div>
  </div>
</div>

