<div *ngIf="postData" [routerLink]="['/post',postData.id]" class="w-80 rounded-md h-full text-body-text bg-white">
  <div class="flex flex-col shadow h-full">
    <div class="w-400px ">
      <img class="object-cover object-top h-56 min-w-full rounded-t-md"
           src="{{postData?.data?.postImgPath}}"
           alt="post-img"/>
    </div>
    <div class="flex flex-col gap-3 py-4 px-6 max-w-sm min-w-0">
      <div>
        <span class="uppercase mr-5 text-red-500">{{postData?.data?.category?.category}}</span>
        <span *ngIf="postData?.data?.isFeatured" class="uppercase mr-5 text-green-500">featured</span>
      </div>
      <div>
        <h1 class="text-base">{{postData?.data?.title}}</h1>
        <p class="mt-2 text-justify">
          {{postData?.data?.excerpt}}
        </p>
      </div>
      <div>
        <span
          class="uppercase mr-5 text-yellow-600">last updated - {{postData?.data?.createdAt.toMillis() | date}}</span>
      </div>
    </div>
  </div>
</div>

